#mesa {
    width: 580px;
}
#mesa .memotest_cartas {
    list-style: none;
    float: left;
    margin: 0px 20px 20px 0px;
    border: solid 1px #999;
    width: 100px;
    height: 60px;
    display: block;
    cursor: pointer;
}
#mesa .memotest_fin_juego {
    font-size: 16px;
}
#mesa .memotest_jugar_de_nuevo {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#mesa .memotest_jugar_de_nuevo {
    text-decoration: underline;
}

.clear {
    clear: both;
}